<!-- The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayout.lt-md='column'>
   <div fxFlex="100%">
  <mat-accordion multi="true">
      <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
              <p class="font">STUDENT</p>
          </mat-expansion-panel-header>
          <div>
              <div fxLayout.lt-md='column' fxLayout.gt-md="row" >
                  <mat-card class="card card1" fxFlex="40%" routerLink="/admin/create-student">
                      <p class="text" align="center">CREATE STUDENT</p>
                  </mat-card>
                  <div fxFlex="20%"></div>
                  <mat-card class="card card2" fxFlex="40%" routerLink="/admin/students-list">
                      <p align="center" class="text">STUDENT LIST</p>
                  </mat-card>   
              </div>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
              <div fxFlexAlign="center center">
              <p class="font">ADMIN</p>
            </div>
          </mat-expansion-panel-header>
          <div>
              <div fxLayout.lt-md='column' fxLayout.gt-md="row">
                  <mat-card class="card card3" fxFlex="40%" routerLink="/admin/fee-structure">
                      <p class="text" align="center">FEE STRUCTURE</p>
                  </mat-card>
                  <div fxFlex="20%"></div>
                  <mat-card class="card card4" fxFlex="40%">
                      <p class="text" align="center">OTHER</p>
                  </mat-card>
              </div>
          </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
