<!-- 
Functionality for create student:

Qualification 

1. Schooling
2. +2
3. UG
4. PG

Specialization

1. Schooling -> class
2. +2 -> Intemediate / diploma
3. UG -> Degree/ BTECH/ OTHERS

Branch

1. schooling -> nothing
2. +2 -> MPC/BIPC/MEC/CEC/OTHERS
3. UG -> CSE/ECE/EEE/MECH/OTHERS

IF OTHERS -> INPUT FIELD

DISCUSSED FEE / FINALIZED FEE-> INPUT FIELD

STATUS -> PENDING / JOINED -->
<mat-card>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [completed]="completedStepper.isPersonalInfoComplete">
            <ng-template matStepLabel>Personal Information</ng-template>
            <app-personal-info #personalInfoChild (personalInfoValidEvent)="personalInfoValidate($event)"></app-personal-info>
        </mat-step>
        <mat-step [completed]="completedStepper.isEducationInfoComplete">
            <ng-template matStepLabel>Educational Information</ng-template>
            <app-educational-details #educationalInfoChild (educationalInfoValidEvent)="educationInfoValidate($event)"></app-educational-details>
        </mat-step>
        <mat-step [completed]="completedStepper.isConfirmInfoComplete">
            <ng-template matStepLabel>Confirmation Information</ng-template>
            <app-confirmation-status #confirmInfoChild (confirmValidateEvent)="confirmInfoValidate($event)"></app-confirmation-status>
        </mat-step>
    </mat-vertical-stepper>
</mat-card>
