<div fxFlexLayout="row">
  <div fxFlex.gt-sm="20%"></div>
  <div fxFlex.gt-sm="60%" fxFlex="100%">
    <mat-card class="navigation-bar">
      <div fxFlex="20%" align="center">
        <mat-icon class="icon-font">dashboard</mat-icon>
      </div>
      <div fxFlex="20%" align="center">
        <mat-icon class="icon-font">person_add</mat-icon>
      </div>
      <div fxFlex="20%" align="center">
        <mat-icon class="icon-font">people</mat-icon>
      </div>
      <div fxFlex="20%" align="center">
        <mat-icon class="icon-font">insert_chart</mat-icon>
      </div>
      <div fxFlex="20%" align="center">
        <mat-icon class="icon-font">account_circle</mat-icon>
      </div>
    </mat-card>
  </div>
</div>