<form #educationalForm="ngForm" (ngSubmit)="educationalFormValidate(educationalForm)">
  <div fxFlexLayout="row" fxLayout.lt-md='column'>
    <div fxFlex="5%"></div>
    <div fxFlex="40%">
      <mat-form-field class="full_width">
        <mat-select placeholder="Qualification" required name="qualification" #qualification="ngModel" [(ngModel)]="educationalInfoObj.qualification">
          <mat-option value="schooling">Schooling</mat-option>
          <mat-option value="intermediate">+2</mat-option>
          <mat-option value="intermediate">UG</mat-option>
        </mat-select>
      </mat-form-field>
      <app-show-error [control]="qualification"></app-show-error>
    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="40%">
      <mat-form-field class="full_width">
        <mat-select placeholder="Specialization" required  name="specialization" #specialization="ngModel" [(ngModel)]="educationalInfoObj.specialization">
          <mat-option value="specialization">Intemediate / diploma</mat-option>
        </mat-select>
      </mat-form-field>
      <app-show-error [control]="specialization"></app-show-error>
    </div>
  </div>


  <div fxFlexLayout="row" fxLayout.lt-md='column'>
    <div fxFlex="5%"></div>
    <div fxFlex="40%">
      <mat-form-field class="full_width">
        <mat-select placeholder="Branch" required name="standard" #standard="ngModel" [(ngModel)]="educationalInfoObj.branch">
          <mat-option value="std">Standard</mat-option>
          <mat-option value="female">MPC/BIPC/MEC/CEC/OTHERS</mat-option>
          <mat-option value="female">CSE/ECE/EEE/MECH/OTHERS</mat-option>
        </mat-select>
      </mat-form-field>
      <app-show-error [control]="standard"></app-show-error>
    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="40%">
      <mat-form-field class="full_width">
        <input matInput placeholder="Others" type="text" required name="others" #others="ngModel" [(ngModel)]="educationalInfoObj.others">
      </mat-form-field>
      <app-show-error [control]="others"></app-show-error>
    </div>
  </div>

  <div fxFlexLayout="row" fxLayout.lt-md='column'>
    <div fxFlex="5%"></div>
    <div fxFlex="90%">
      <mat-form-field class="full_width">
        <mat-chip-list #chipList name="preferredSubject" [required]="weekSubj.length === 0" #preferredSubject="ngModel" [(ngModel)]="educationalInfoObj.preferredSubject">
          <mat-chip *ngFor="let sub of weekSubj" [selectable]="selectable" [removable]="removable" (removed)="remove(sub)">
            {{sub}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Preferred Subjects" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <ng-container *ngIf="weekSubj.length === 0">
        <app-show-error [control]="preferredSubject"></app-show-error>
      </ng-container>
    </div>
  </div>
  <div fxFlexLayout="row" fxLayout.lt-md='column'>
    <div fxFlex="5%"></div>
    <div fxFlex="40%">
    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="40%">
      <div fxFlex.lg="38%"></div>
      <button mat-raised-button color="primary" matStepperPrevious class="full_width">Previous</button>
      <div fxFlex.lg="1%"></div>
      <button mat-raised-button color="primary" (click)="educationalFormValidate(educationalForm)" class="full_width" matStepperNext [disabled]="educationalForm.invalid">Next</button>
    </div>
  </div>
</form>