<div fxFlexLayout="row" fxLayout.lt-md='column'>
<div fxFlex="5%"></div>
<div fxFlex="40%">
    <mat-form-field class="full_width">
      <input matInput placeholder="Student Name" type="text" required>
    </mat-form-field>
</div>
<div fxFlex="10%"></div>
<div fxFlex="40%">
  <mat-form-field class="full_width">
    <input matInput placeholder="Father Name" type="text" required>
  </mat-form-field>
</div>
</div>


<div fxFlexLayout="row" fxLayout.lt-md='column'>
  <div fxFlex="5%"></div>
  <div fxFlex="40%">
    <mat-form-field class="full_width">
      <mat-select placeholder="Gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="10%"></div>
  <div fxFlex="40%">
    <mat-form-field class="full_width">
      <input matInput placeholder="Email" type="email" required>
    </mat-form-field>
  </div>
  </div>

<div fxFlexLayout="row" fxLayout.lt-md='column'>
  <div fxFlex="5%"></div>
  <div fxFlex="40%">
      <mat-form-field class="full_width">
        <input matInput placeholder="Phone Number" type="tel" required>
      </mat-form-field>
  </div>
  <div fxFlex="10%"></div>
  <div fxFlex="40%">
    <mat-form-field class="full_width">
      <input matInput placeholder="Alternate Number" type="tel" required>
    </mat-form-field>
  </div>
  </div>

<!-- 
  <div fxFlexLayout="row" fxLayout.lt-md='column'>
    <div fxFlex="5%"></div>
    <div fxFlex="40%">
    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="40%" >
      <div fxFlex.lg="39%"></div>
      <button mat-raised-button color="primary" class="full_width">Next</button>
    </div>
    </div> -->